@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9209 0.0347 330.2441);
  --foreground: oklch(0.4419 0.0658 319.4568);
  --card: oklch(0.9576 0.0177 328.4993);
  --card-foreground: oklch(0.4419 0.0658 319.4568);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.4419 0.0658 319.4568);
  --primary: oklch(0.7150 0.1430 215.2210);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.8795 0.0539 330.9069);
  --secondary-foreground: oklch(0.4419 0.0658 319.4568);
  --muted: oklch(0.8795 0.0539 330.9069);
  --muted-foreground: oklch(0.6158 0.0475 319.9920);
  --accent: oklch(0.8488 0.0717 329.9691);
  --accent-foreground: oklch(0.4419 0.0658 319.4568);
  --destructive: oklch(0.7760 0.0946 308.1480);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.7361 0.0639 320.0333);
  --input: oklch(0.8488 0.0717 329.9691);
  --ring: oklch(0.7567 0.0328 13.0158);
  --chart-1: oklch(0.7567 0.0328 13.0158);
  --chart-2: oklch(0.6908 0.0361 15.7980);
  --chart-3: oklch(0.8846 0.0122 23.7193);
  --chart-4: oklch(0.6179 0.0301 26.3754);
  --chart-5: oklch(0.5387 0.0300 26.8032);
  --sidebar: oklch(0.8890 0.0547 329.8629);
  --sidebar-foreground: oklch(0.4419 0.0658 319.4568);
  --sidebar-primary: oklch(0.7567 0.0328 13.0158);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(1.0000 0 0);
  --sidebar-accent-foreground: oklch(0.4419 0.0658 319.4568);
  --sidebar-border: oklch(0.9951 0.0017 325.5899);
  --sidebar-ring: oklch(0.7567 0.0328 13.0158);
  --font-sans: Oxanium, sans-serif;
  --font-serif: Oxanium, sans-serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.425rem;
  --shadow-2xs: 2px 2px 0px 0.5px hsl(351.8182 21.3592% 40.3922% / 0.50);
  --shadow-xs: 2px 2px 0px 0.5px hsl(351.8182 21.3592% 40.3922% / 0.50);
  --shadow-sm: 2px 2px 0px 0.5px hsl(351.8182 21.3592% 40.3922% / 1.00), 2px 1px 2px -0.5px hsl(351.8182 21.3592% 40.3922% / 1.00);
  --shadow: 2px 2px 0px 0.5px hsl(351.8182 21.3592% 40.3922% / 1.00), 2px 1px 2px -0.5px hsl(351.8182 21.3592% 40.3922% / 1.00);
  --shadow-md: 2px 2px 0px 0.5px hsl(351.8182 21.3592% 40.3922% / 1.00), 2px 2px 4px -0.5px hsl(351.8182 21.3592% 40.3922% / 1.00);
  --shadow-lg: 2px 2px 0px 0.5px hsl(351.8182 21.3592% 40.3922% / 1.00), 2px 4px 6px -0.5px hsl(351.8182 21.3592% 40.3922% / 1.00);
  --shadow-xl: 2px 2px 0px 0.5px hsl(351.8182 21.3592% 40.3922% / 1.00), 2px 8px 10px -0.5px hsl(351.8182 21.3592% 40.3922% / 1.00);
  --shadow-2xl: 2px 2px 0px 0.5px hsl(351.8182 21.3592% 40.3922% / 2.50);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.3354 0.0413 329.8738);
  --foreground: oklch(1.0000 0 0);
  --card: oklch(0.3752 0.0330 328.2334);
  --card-foreground: oklch(1.0000 0 0);
  --popover: oklch(0.3752 0.0330 328.2334);
  --popover-foreground: oklch(1.0000 0 0);
  --primary: oklch(0.6070 0.2322 293.9480);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.4620 0.0483 328.9846);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.4064 0.0398 326.2789);
  --muted-foreground: oklch(0.7723 0.0244 323.6504);
  --accent: oklch(0.6377 0.1019 330.9406);
  --accent-foreground: oklch(0.2829 0.0221 322.9295);
  --destructive: oklch(0.6758 0.0937 309.1303);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.4620 0.0483 328.9846);
  --input: oklch(0.4620 0.0483 328.9846);
  --ring: oklch(0.6908 0.0361 15.7980);
  --chart-1: oklch(0.6908 0.0361 15.7980);
  --chart-2: oklch(0.7567 0.0328 13.0158);
  --chart-3: oklch(0.6179 0.0301 26.3754);
  --chart-4: oklch(0.6377 0.1019 330.9406);
  --chart-5: oklch(0.5387 0.0300 26.8032);
  --sidebar: oklch(0.3354 0.0413 329.8738);
  --sidebar-foreground: oklch(1.0000 0 0);
  --sidebar-primary: oklch(0.6908 0.0361 15.7980);
  --sidebar-primary-foreground: oklch(0.2829 0.0221 322.9295);
  --sidebar-accent: oklch(0.6377 0.1019 330.9406);
  --sidebar-accent-foreground: oklch(0.2829 0.0221 322.9295);
  --sidebar-border: oklch(0.4620 0.0483 328.9846);
  --sidebar-ring: oklch(0.6908 0.0361 15.7980);
  --font-sans: Oxanium, sans-serif;
  --font-serif: Oxanium, sans-serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.425rem;
  --shadow-2xs: 2px 2px 0px 0.5px hsl(228.8200 85.1316% 4.9967% / 0.50);
  --shadow-xs: 2px 2px 0px 0.5px hsl(228.8200 85.1316% 4.9967% / 0.50);
  --shadow-sm: 2px 2px 0px 0.5px hsl(228.8200 85.1316% 4.9967% / 1.00), 2px 1px 2px -0.5px hsl(228.8200 85.1316% 4.9967% / 1.00);
  --shadow: 2px 2px 0px 0.5px hsl(228.8200 85.1316% 4.9967% / 1.00), 2px 1px 2px -0.5px hsl(228.8200 85.1316% 4.9967% / 1.00);
  --shadow-md: 2px 2px 0px 0.5px hsl(228.8200 85.1316% 4.9967% / 1.00), 2px 2px 4px -0.5px hsl(228.8200 85.1316% 4.9967% / 1.00);
  --shadow-lg: 2px 2px 0px 0.5px hsl(228.8200 85.1316% 4.9967% / 1.00), 2px 4px 6px -0.5px hsl(228.8200 85.1316% 4.9967% / 1.00);
  --shadow-xl: 2px 2px 0px 0.5px hsl(228.8200 85.1316% 4.9967% / 1.00), 2px 8px 10px -0.5px hsl(228.8200 85.1316% 4.9967% / 1.00);
  --shadow-2xl: 2px 2px 0px 0.5px hsl(228.8200 85.1316% 4.9967% / 2.50);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  button,
  [role="button"] {
    cursor: pointer;
  }
  button:disabled,
  [role="button"]:disabled {
    cursor: default;
  }
}
